.e-radio {
  align-items: center;
  display: flex;
  height: auto;
  outline: none;
  label.e-label {
    align-self: center;
  }
}
.e-field--radio-group {
  > .e-field__control > .e-field__slot {
    > label {
      padding-right: 8px;
      display: none;
    }
  }
  &--column {
    .e-field__slot {
      height: auto;
    }
    .e-radio {
      &:not(:last-child):not(:only-child) {
        margin-bottom: 8px;
      }
    }
    .e-field--radio-group__field {
      flex-direction: column;
    }
  }
  &__field {
    border: none;
    cursor: default;
    display: flex;
    width: 100%;
  }
  &--row {
    > .e-field__control > .e-field__slot {
      > label {
        display: block;
      }
    }
    .e-radio {
      &:not(:last-child):not(:only-child) {
        margin-right: 16px;
      }
    }
    .e-field--radio-group__field {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}
