.e-expansion {
  &__header {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    align-items: center;
    color: white;
    user-select: none;
    position: relative;

    &-actions {
      height: 100%;

      > * {
        margin-left: 12px;
      }
    }

    &-content {
      padding: 4px 24px;
      flex: 1 1 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
    }

    h4 {
      font-style: normal;
      margin: 0;
      font-weight: bold;
      font-size: 18px;
      text-transform: uppercase;
    }

    &-icon {
      display: flex;
      align-items: center;
      justify-content: center;

      i {
        font-size: 21px;
        transition: all 0.5s ease;
        display: flex;
      }
    }
  }

  &__body {
    padding-top: 24px;

    &-content {
      .e-expansion__body-content {
        margin-bottom: 24px;
      }
    }
  }

  &--opened {
    .e-expansion__header-icon i {
      transform: rotate(180deg);
    }
  }
}
