.e-row {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 auto;
  &.no-gutters {
    margin: 0;
    & > .e-col,
    & > [class*="e-col-"] {
      padding: 0;
    }
  }
}
.e-col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

