.e-app-bar {
  background-color: #f5f5f5;
  position: absolute;
  right: 0;
  left: 0;
}
.e-bar {
  contain: layout;
  display: block;
  flex: 1 1 auto;
  right: 0px;
  max-width: 100%;
  transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  &:not(.outlined):not(.e-bar--depressed) {
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
      0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
  }
}
.e-bar {
  flex-grow: 1;
  display: block;
  z-index: 1;
  &__content {
    align-items: center;
    display: flex;
    position: relative;
    z-index: 0;
    padding: 4px 16px;
    height: 64px;
  }
  &--clipped {
    z-index: 2;
  }
  &--dense {
    .e-bar {
      &__content {
        height: 48px;
      }
    }
  }
  &--fixed {
    position: fixed;
  }
}
