@use "sass:math";
.row {
  margin: -$space-base;
}
.col {
  padding: $space-base;

  @for $i from 1 through $grid-cols {
    $_col_percent: math.div($i, $grid-cols) * 100%;
    &-#{$i} {
      flex: 0 0 $_col_percent;
      max-width: $_col_percent;
    }
    &-sm-#{$i} {
      @include _sm {
        flex: 0 0 $_col_percent;
        max-width: $_col_percent;
      }
    }
    &-md-#{$i} {
      @include _md {
        flex: 0 0 $_col_percent;
        max-width: $_col_percent;
      }
    }
    &-lg-#{$i} {
      @include _lg {
        flex: 0 0 $_col_percent;
        max-width: $_col_percent;
      }
    }
  }
}
:root {
  @each $key, $value in $breakpoint {
    --#{$key}: #{$value};
  }
}

.e-container {
  padding: $space-base;
  @include _lg {
    max-width: 1185px;
  }
  @include _md {
    max-width: 900px;
  }
}
