@use "sass:math";
.e-row {
  margin: -$space-base;
  $extra_px: 0px;
  &.e-form {
    $extra_px: 1px;
  }
  .e-col {
    @include grid-generator;
  }
}
:root {
  @each $key, $value in $breakpoint {
    --#{$key}: #{$value};
  }
}

.e-container {
  padding: $space-base;
  @include _lg {
    max-width: 1185px;
  }
  @include _md {
    max-width: 900px;
  }
}
