.v-ripple-element {
  position: relative;
  overflow: hidden;

  .v-ripple {
    border-radius: 50%;
    opacity: 0.7;
    position: absolute;
    transform: scale(0);
    animation: v-ripple linear;
  }
}


.outlined {
  border: thin solid rgba(0, 0, 0, 0.12);
}

.e-overlay {
  z-index: 3;
  align-items: center;
  border-radius: inherit;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1), z-index 1ms;

  &--active {
    background-color: rgba(0, 0, 0, 0.4);
    pointer-events: auto;
  }

  &--inactive {
    background-color: transparent;
  }
}
