.e-menu {
  height: 1px;
  width: 100%;
  position: absolute;
  bottom: 0;

  &__content {
    position: absolute;
    display: inline-block;
    max-width: 80%;
    overflow-y: auto;
    overflow-x: hidden;
    contain: content;
    box-shadow: 0 5px 5px -3px rgb(0 0 0 / 20%), 0 8px 10px 1px rgb(0 0 0 / 14%),
      0 3px 14px 2px rgb(0 0 0 / 12%);
    border-radius: 4px;
    max-height: 304px;
    min-width: 100%;
    transform-origin: left top;
    z-index: 8;
  }
}
