.heading {
  &--1 {
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 28px;
    text-transform: uppercase;
    margin: 0;
  }

  &--2 {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    margin: 0;
    text-transform: uppercase;
  }
}

.e-title {
  font-style: normal;
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  text-transform: uppercase;
}

.e-subtitle {
  margin: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}
