.e-text-field {
  &__slot {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    max-width: 100%;

    input {
      flex: 1 1 auto;
      line-height: 20px;
      padding: 8px 0 8px 8px;
      min-width: 0;
      font-size: 16px;
    }
  }

  .e-counter {
    margin-left: 8px;
  }

  .e-messages,
  .e-field__slot {
    width: auto;
  }
}
